<div class="row">
  <div class="col-8">

    <div class="btn-toolbar" role="toolbar" aria-label="Filter Tags with Alphabets">
        <nav class="mr-1" aria-label="Filtering ALL">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link"><i class="fa fa-align-justify"></i></a></li>
          </ul>
        </nav> 
      <nav class="mr-1" aria-label="Filtering Alphabets from A to E">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">A</a></li>
          <li class="page-item"><a class="page-link">B</a></li>
          <li class="page-item"><a class="page-link">C</a></li>
          <li class="page-item"><a class="page-link">D</a></li>
          <li class="page-item"><a class="page-link">E</a></li>
        </ul>
      </nav>
      <nav class="mr-1" aria-label="Filtering Alphabets from F to J">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">F</a></li>
          <li class="page-item"><a class="page-link">G</a></li>
          <li class="page-item"><a class="page-link">H</a></li>
          <li class="page-item"><a class="page-link">I</a></li>
          <li class="page-item"><a class="page-link">J</a></li>
        </ul>
      </nav>
      <nav class="mr-1" aria-label="Filtering Alphabets from K to O">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link">K</a></li>
            <li class="page-item"><a class="page-link">L</a></li>
            <li class="page-item"><a class="page-link">M</a></li>
            <li class="page-item"><a class="page-link">N</a></li>
            <li class="page-item"><a class="page-link">O</a></li>
          </ul>
        </nav>
        <nav class="mr-1" aria-label="Filtering Alphabets from P to T">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link">P</a></li>
              <li class="page-item"><a class="page-link">Q</a></li>
              <li class="page-item"><a class="page-link">R</a></li>
              <li class="page-item"><a class="page-link">S</a></li>
              <li class="page-item"><a class="page-link">T</a></li>
            </ul>
          </nav>
          <nav class="mr-1" aria-label="Filtering Alphabets from U to Z">
              <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">U</a></li>
                <li class="page-item"><a class="page-link">V</a></li>
                <li class="page-item"><a class="page-link">W</a></li>
                <li class="page-item"><a class="page-link">X</a></li>
                <li class="page-item"><a class="page-link">Y</a></li>
                <li class="page-item"><a class="page-link">Z</a></li>
              </ul>
            </nav>
    </div>
    <div class="">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Decription</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>automatic</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>manual</td>
            <td>tdornton</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>daily</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">4</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">5</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">6</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">7</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">8</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">9</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">10</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">11</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">12</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">13</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">14</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">15</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">16</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">17</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">18</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">19</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">20</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">21</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">22</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">23</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">24</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">25</td>
            <td>weekly</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4">
    <div class="sticky-top" style="top: 7.5%">
      <div>
        <ul class="nav nav-fill">
          <li class="nav-item border border-bottom-0 text-primary">
            <a class="nav-link">
              <i class="fa fa-edit"></i> Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border">
              <i class="fa fa-object-group"></i> Merge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border">
              <i class="fa fa-trash-alt"></i> Delete</a>
          </li>
        </ul>
      </div>
      <div class="mt-2">
        <div class="form-group">
          <label for="tagName">Tag Name</label>
          <input type="text" class="form-control" id="tagName" placeholder="Tag Name">
        </div>
        <div class="form-group">
          <label for="tagDescription">Description</label>
          <textarea class="form-control" id="tagDescription" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Update</button>
        <button type="button" class="btn btn-outline-success">Create</button>
      </div>
    </div>
  </div>
</div>
