<div class="row">
  <div class="col-8">

    <div class="btn-toolbar" role="toolbar" aria-label="Filter Tags with Alphabets">
      <div class="btn-group btn-group-sm mr-2 mb-2" role="group" aria-label="All Tags">
        <button type="button" class="btn btn-light active">All</button>
      </div>
      <div class="btn-group btn-group-sm mr-2 mb-2" role="group" aria-label="Alphabets A to E">
        <button type="button" class="btn btn-light">A</button>
        <button type="button" class="btn btn-light">B</button>
        <button type="button" class="btn btn-light">C</button>
        <button type="button" class="btn btn-light">D</button>
        <button type="button" class="btn btn-light">E</button>
      </div>
      <div class="btn-group btn-group-sm mr-2 mb-2" role="group" aria-label="Alphabets F to E">
        <button type="button" class="btn btn-light">F</button>
        <button type="button" class="btn btn-light">G</button>
        <button type="button" class="btn btn-light">H</button>
        <button type="button" class="btn btn-light">I</button>
        <button type="button" class="btn btn-light">J</button>
      </div>
      <div class="btn-group btn-group-sm mr-2 mb-2" role="group" aria-label="Alphabets K to O">
        <button type="button" class="btn btn-light">K</button>
        <button type="button" class="btn btn-light">L</button>
        <button type="button" class="btn btn-light">M</button>
        <button type="button" class="btn btn-light">N</button>
        <button type="button" class="btn btn-light">O</button>
      </div>
      <div class="btn-group btn-group-sm mr-2 mb-2" role="group" aria-label="Alphabets F to E">
        <button type="button" class="btn btn-light">P</button>
        <button type="button" class="btn btn-light">Q</button>
        <button type="button" class="btn btn-light">R</button>
        <button type="button" class="btn btn-light">S</button>
        <button type="button" class="btn btn-light">T</button>
      </div>
      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Alphabets F to E">
        <button type="button" class="btn btn-light">U</button>
        <button type="button" class="btn btn-light">V</button>
        <button type="button" class="btn btn-light">W</button>
        <button type="button" class="btn btn-light">X</button>
        <button type="button" class="btn btn-light">Z</button>
      </div>
    </div>
    <div class="">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Decription</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>automatic</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>manual</td>
            <td>tdornton</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>daily</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">4</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">5</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">6</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">7</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">8</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">9</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">10</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">11</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">12</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">13</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">14</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">15</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">16</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">17</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">18</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">19</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">20</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">21</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">22</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">23</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">24</td>
            <td>weekly</td>
            <td>tde Bird</td>
          </tr>
          <tr>
            <td scope="row">25</td>
            <td>weekly</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4 border-left">
    <div class="position-fixed w-25">
      <div>
        <ul class="nav nav-fill">
          <li class="nav-item border border-bottom-0 text-primary">
            <a class="nav-link">
              <i class="fa fa-edit"></i> Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border">
              <i class="fa fa-object-group"></i> Merge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border">
              <i class="fa fa-trash-alt"></i> Delete</a>
          </li>
        </ul>
      </div>
      <div class="mt-2">
        <div class="form-group">
          <label for="tagName">Tag Name</label>
          <input type="text" class="form-control" id="tagName" placeholder="Tag Name">
        </div>
        <div class="form-group">
          <label for="tagDescription">Description</label>
          <textarea class="form-control" id="tagDescription" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Update</button>
        <button type="button" class="btn btn-outline-success">Create</button>
      </div>
    </div>
  </div>
</div>
