<div class="card-columns">
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Vegitable Fridge
            <span class="badge badge-secondary">Kitchen</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Running
        <span class="badge badge-warning">3 &deg;C</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Water Tank Level
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-warning">Almost Empty
        <span class="badge badge-danger">28%</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Water Heater
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-secondary">Maintenance
        <span class="badge badge-dark">Not Called</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Power
            <span class="badge badge-secondary">Power Source</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Generating
        <span class="badge badge-light">2.5 kWh</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Vegitable Fridge
            <span class="badge badge-secondary">Kitchen</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Running
        <span class="badge badge-warning">3 &deg;C</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Water Tank Level
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-warning">Almost Empty
        <span class="badge badge-danger">28%</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Water Heater
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-secondary">Maintenance
        <span class="badge badge-dark">Not Called</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Power
            <span class="badge badge-secondary">Power Source</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Generating
        <span class="badge badge-light">2.5 kWh</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Vegitable Fridge
            <span class="badge badge-secondary">Kitchen</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Running
        <span class="badge badge-warning">3 &deg;C</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Water Tank Level
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-warning">Almost Empty
        <span class="badge badge-danger">28%</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Water Heater
            <span class="badge badge-secondary">Water</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-secondary">Maintenance
        <span class="badge badge-dark">Not Called</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-img-top">
      <div class="media p-2">
        <h1 class="align-self-center text-center mr-2">
          <i class="fa fa-server"></i>
        </h1>
        <div class="media-body">
          <h5 class="mt-2">Solar Power
            <span class="badge badge-secondary">Power Source</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-block btn-success">Generating
        <span class="badge badge-light">2.5 kWh</span>
      </button>
    </div>
    <div class="card-footer">
      <span>
        <a class="badge badge-pill badge-light border">Guest House</a>
        <a class="badge badge-pill badge-light border">Govt Power</a>
        <a class="badge badge-pill badge-light border">Samsung</a>
      </span>
    </div>
  </div>
</div>
