<div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Decription</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>General</td>
            <td>Non Categorised appliance comes under this section</td>
            <td>
              <ul class="pagination mb-0">
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Edit the details of this category">
                  <a class="page-link">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Stop all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-stop"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Deactivate all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-window-close"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Kitchen</td>
            <td>All kitchen appliances under comes under this section.</td>
            <td>
              <ul class="pagination mb-0">
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Edit the details of this category">
                  <a class="page-link">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Stop all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-stop"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Deactivate all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-window-close"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Delete this category and assign the appliance to General Category.">
                  <a class="page-link">
                    <i class="fa fa-trash-alt"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Water</td>
            <td>Equipements used for water comes under this section.</td>
            <td>
              <ul class="pagination mb-0">
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Edit the details of this category">
                  <a class="page-link">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Stop all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-stop"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Deactivate all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-window-close"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Delete this category and assign the appliance to General Category.">
                  <a class="page-link">
                    <i class="fa fa-trash-alt"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Power Source</td>
            <td>Different Types of power sources</td>
            <td>
              <ul class="pagination mb-0">
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Edit the details of this category">
                  <a class="page-link">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Stop all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-stop"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Deactivate all appliances under this category">
                  <a class="page-link">
                    <i class="fa fa-window-close"></i>
                  </a>
                </li>
                <li class="page-item" data-toggle="tooltip" data-placement="top" title="Delete this category and assign the appliance to General Category.">
                  <a class="page-link">
                    <i class="fa fa-trash-alt"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
