<div class="text-center">
  <div class="form-signin" action="dashboard" method="GET">
    <h2 class="mb-4"><span class="text-danger">Smart Roost</span><small class="text-warning"><i class="fa fa-wifi" data-fa-transform="rotate-45"></i></small></h2>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input data-name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input data-name="key" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <a class="btn btn-lg btn-outline-primary btn-block" (click)="login()">Sign in</a>
  </div>
</div>
<app-footer></app-footer>