<div id="accordion">
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Fridge - Celsius / Fahrenheit, mode of fridge[Freezer, Vegetables]
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Washing Machine - Water Measurement [Litre or Cubic metre]
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Power - which Unit, Amount per Unit
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Oxygen in Air || Dust Level || Moisture Level || Odurness
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Tempreture level
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Camera Clearity Level
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Calling Bell Tone / volume Level
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        TV Baby Mode
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        WIFI Internet Safe Mode
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Water Tank Level
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Water Tank Level
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Washing Machine - Water Measurement [Litre or Cubic metre]
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Electric car/Bike/Board informations
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header" id="headingOne">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Noise Level Decibel || Lighting
      </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Settings
      </div>
    </div>
  </div>
</div>
