<div class="mt-5 d-flex justify-content-center">
  <div class="jumbotran bg-white border p-3">
    <div class="media">
      <div class="align-self-start p-5 bg-light mr-2">
        <i class="fa fa-user"></i>
      </div>
      <div class="media-body">
        <h5 class="mt-0">ThamsRang</h5>
        <div>
          <span>Email:</span> thamsrang@gmail.com</div>
        <div>
          <span>Mobile:</span> +91-9876543210</div>
        <div>
          <span>Github:</span>
          <a href="https://github.com/thamsrang" target="_blank">https://github.com/thamsrang</a>
        </div>
      </div>
    </div>
  </div>
</div>
