<div class="mt-5">
  <div class="row">
    <div class="col-md-6 p-3">
      <div class="card">
        <div class="card-body">
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <div class="card">
        <div class="card-body">
          <canvas id="hBarChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <canvas id="myChart" height="75"></canvas>
    </div>
  </div>
</div>